01 大一上/*
!01 大一上/程序设计基础/

02 大一下/*
!02 大一下/高级程序设计与实验/
!02 大一下/Python程序设计/

03 大二上/*
!03 大二上/概率论与数理统计/
!03 大二上/高级机器学习理论与算法/
!03 大二上/数据结构/
!03 大二上/数值计算方法/
!03 大二上/数据库/
!03 大二上/计算机组成原理/

99 其它/*
!99 其它/人工智能/